* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.products_list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.products_item {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(35, 202, 6);
}